@use '../abstracts' as *;

.ui {
  max-width: $desktop-1;
  padding: $size-8 $size-8 50px;
  margin: 0 auto;

  &__header {
    margin-bottom: $size-8;
  }

  &__picture {
    border-radius: $size-24;
    overflow: hidden;
  }

  &__poster {
    aspect-ratio: 16 / 9;
  }

  &__list {
    padding-left: 20px;
    margin-bottom: 4rem;
    color: $color-green;
    font: 500 1.6rem/2.4rem a;
    font-family: inherit;
  }

  &__list-item {
    position: relative;
    margin-bottom: 1em;
    &::before {
      content: '\2726';
      position: absolute;
      top: 0;
      left: -20px;
    }
  }

  &__list-item a:hover {
    color: $color-on-green;
  }
}
