@use '../abstracts' as *;

.ui {
  max-width: $desktop-1;
  padding: $size-8 $size-8 50px;
  margin: 0 auto;

  &__header {
    margin-bottom: $size-8;
  }

  &__figure {
    border-radius: $size-24;
    overflow: hidden;
  }

  &__poster {
    aspect-ratio: 16 / 9;
  }
}
