@use 'sass:math';

$primary: #f8fafd;
$primary-hovered: #eaecef;
$primary-active: #c2e7fe;
$white: #fff;
$gray-1: #111;
$gray-4: #444;
$gray-c: #ccc;
$gray-e: #eee;
$green: #55a630;
$green-hovered: #448526;
$ocean: #19686a;
$ocean-hovered: #478688;
$color-surface: #e1e3e1;

$desktop-1: 76rem;
$size-24: 24px;
$size-16: 16px;
$size-8: 8px;
$size-4: 4px;
