@use 'sass:math';

$primary: #86b0c4;
$primary-30: #aac8d6;
$primary-50: #c3d8e2;
$white: #fff;
$gray-1: #111;
$gray-4: #444;
$gray-e: #eee;
$green: #19686a;
$green-hovered: #478688;

$desktop-1: 76rem;
$size-24: 24px;
$size-16: 16px;
$size-8: 8px;
$size-4: 4px;
