$theme-light: #f2f230;
$theme-dark: #fa810f;
$transparent: rgba(255, 255, 255, 0);
$white: #fff;
$white-c: #c4c7c5;
$gray-1: #1f1f1f;
$gray-2: #2c2f31;
$gray-4: #444;
$color-surface-1: #f8fafd;
$color-on-surface-1: #eaecef;
$color-blue-light: #c2e7fe;
$color-blue-dark: #014a76;
$color-green: #55a630;
$color-on-green: #448526;
$color-purple-light: #E9D2F4;
$color-purple-dark: #571F4E;

$desktop-1: 76rem;
$size-24: 24px;
$size-16: 16px;
$size-8: 8px;

html[data-theme="light"] {
  --color-text: #{$gray-1};
  --color-text-pre-hover: #{$gray-4};
  --color-background: #{$white};
  --color-surface: #{$color-surface-1};
  --color-on-surface: #{$color-on-surface-1};
  --color-purple: #{$color-purple-light};
  --color-blue: #{$color-blue-light};
  --icon-src: url('./icons/dark.svg');
  --icon-background: #{$theme-light};
}

html[data-theme="dark"] {
  --color-text: #{$white};
  --color-text-pre-hover: #{$white-c};
  --color-background: #{$gray-1};
  --color-surface: #{$gray-2};
  --color-on-surface: #{$gray-4};
  --color-purple: #{$color-purple-dark};
  --color-blue: #{$color-blue-dark};
  --icon-src: url('./icons/light.svg');
  --icon-background: #{$theme-dark};
}
