@use '../abstracts' as *;

.accordion {
  margin: 32px 0;

  &__item:not(:last-child) {
    border-bottom: 1px solid var(--color-purple);
  }

  &__toggler {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 50px;
    padding: 10px 52px 10px 24px;
    box-sizing: border-box;
    background-color: var(--color-blue);
    color: var(--color-text-pre-hover);
    font: 500 1.6rem/2.4rem a;
    font-family: inherit;
    text-align: left;
    .accordion__item.is-active &,
    &:focus,
    &:hover {
      color: var(--color-text);
    }

    &::after {
      content: '\2023';
      position: absolute;
      top: calc(50% - 1rem);
      right: 24px;
      font-size: 4.5rem;
      transition: transform 150ms linear;
    }
    .accordion__item:not(.is-active) &:focus::after,
    .accordion__item:not(.is-active) &:hover::after {
      animation: rotate 300ms linear 2;
    }
    .accordion__item.is-active &::after {
      transform: rotate(90deg);
    }

    .accordion__item.is-active &::before {
      content: '';
      position: absolute;
      right: 22px;
      bottom: -14px;
      z-index: 1;
      border-top: 14px solid var(--color-blue);
      border-left: 8px solid $transparent;
      border-right: 8px solid $transparent;
    }
  }

  &__body {
    display: none;
    padding: 24px 24px 8px;
    background-color: var(--color-purple);
    .accordion__item.is-active & {
      display: block;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  33% {
    transform: rotate(-20deg);
  }
  66% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0);
  }
}
