@use '../abstracts' as *;

.ui__modal-content {
  position: fixed;
  top: 50%;
  left: 0;
  width: 320px;
  padding: 30px 50px;
  box-sizing: border-box;
  border-radius: 24px;
  background-color: var(--color-surface);
  text-align: center;
  transform: translate(-100%, -50%);
  transition: transform 300ms cubic-bezier(0.2, 0, 0, 1),
    left 300ms cubic-bezier(0.2, 0, 0, 1);

  @include tablet {
    width: 500px;
  }
  .overlay.is-open & {
    left: 50%;
    transform: translate(-50%, -50%);
  }

  & p:first-of-type {
    margin-bottom: 0;
  }
}

.ui__modal-open {
  margin: 32px auto;
  background-color: var(--color-purple);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  &:focus,
  &:hover {
    opacity: .8;
  }
  &:active {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }
}

.ui__modal-close {
  position: absolute;
  top: 0;
  right: 0;
  background-color: $transparent;
  color: var(--color-text-pre-hover);
  &:focus,
  &:hover {
    background-color: var(--color-blue);
    color: var(--color-text);
  }
}
