@use '../abstracts' as *;

.ui__nav {
  position: -webkit-sticky;
  position: sticky;
  top: $size-8;
  z-index: 1;
  display: none;
  @include desktop {
    display: block;
  }
}

.ui__nav-list {
  display: flex;
  border-radius: 32px;
  background-color: $color-surface-1;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3), 0 1px 3px 1px rgba(0, 0, 0, .15);
}

.ui__nav-link {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  padding: 0 $size-24;
  border-radius: 32px;
  color: $gray-4;
  font: 500 1.6rem/2.4rem a;
  font-family: inherit;
  &:not(.is-active):focus,
  &:not(.is-active):hover {
    background-color: $color-on-surface-1;
    color: $gray-1;
  }
  &.is-active {
    background-color: $color-blue;
    color: $gray-1;
    cursor: default;
  }
}
