@use '../abstracts' as *;

.ui__nav {
  @include desktop {
    position: -webkit-sticky;
    position: sticky;
    top: $size-8;
    z-index: 1;
    width: auto;
    height: auto;
    background-color: $transparent;
    opacity: 1;
  }
}

.ui__nav-content {
  display: flex;
  flex-direction: column;
  border-radius: 0 $size-16 $size-16 0;
  background-color: var(--color-surface);
  @include touch {
    width: 320px;
    height: 100%;
    padding: $size-8;
    box-sizing: border-box;
    transform: translateX(-320px);
    transition: transform 300ms cubic-bezier(0.2, 0, 0, 1);
  }
  @include desktop {
    flex-direction: row;
    border-radius: 32px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3), 0 1px 3px 1px rgba(0, 0, 0, .15);
  }
  .overlay.is-open & {
    @include touch {
      transform: translate(0);
    }
  }
}

.ui__nav-link {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 $size-24;
  border-radius: 25px;
  color: var(--color-text-pre-hover);
  font: 500 1.6rem/2.4rem a;
  font-family: inherit;
  @include desktop {
    flex: 1;
    justify-content: center;
    height: 64px;
    border-radius: 32px;
  }
  &:not(.is-active):focus,
  &:not(.is-active):hover {
    background-color: var(--color-on-surface);
    color: var(--color-text);
  }
  &.is-active {
    background-color: var(--color-blue);
    color: var(--color-text);
    cursor: default;
  }
}

.ui__navbar-button {
  @include desktop {
    display: none;
  }
}

.ui__navbar-open {
  position: fixed;
  top: $size-8;
  z-index: 1;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3), 0 1px 3px 1px rgba(0, 0, 0, .15);
  background-color: var(--color-blue);
  &:focus,
  &:hover {
    opacity: .8;
  }
}

.ui__navbar-close {
  margin-bottom: $size-8;
  color: var(--color-text-pre-hover);
  &:focus,
  &:hover {
    background-color: var(--color-on-surface);
    color: var(--color-text);
  }
}
