@use '../abstracts' as *;

.day {
  background-color: $white;
  background-image: linear-gradient(to bottom, #276b86 2%, #63a5bd 15%, #b8dde6 25%, #f5f6ef 40%, #f5f6ef 94%, #9ba319 95%, #5d621e 98%);
}

.night {
  background-color: $gray-1;
  background-image: linear-gradient(to bottom, #020c1d 35%, #001830 50%, #01304a 70%, #6c6155 86%, #d1872a 93%, #b04708 94%, #040712 95%);
}
